version: "3.9"

services:
  # -------------------- FRONTEND --------------------
  frontend:
    build:
      context: ../Synapse-Frontend
      dockerfile: Dockerfile.dev
    command: npm run dev
    volumes:
      - ../Synapse-Frontend:/app
      - /app/node_modules
    ports:
      - "4173:4173"
    environment:
      - CHOKIDAR_USEPOLLING=true

  # -------------------- BACKEND --------------------
  backend:
    build:
      context: ../Synapse-Backend
      dockerfile: Dockerfile.dev
    volumes:
      - ../Synapse-Backend:/code
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      qdrant:
        condition: service_started

  # -------------------- CPU WORKER --------------------
  worker-cpu:
    build:
      context: ../Synapse-Worker
      dockerfile: Dockerfile.dev
    command: celery -A src.worker.app worker -l info -Q cpu_light,cpu_heavy,celery
    volumes:
      - ../Synapse-Worker:/code
    env_file:
      - ./.env
    user: "1000:1000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      qdrant:
        condition: service_started

  # -------------------- GPU WORKER --------------------
  worker-gpu:
    build:
      context: ../Synapse-Worker
      dockerfile: Dockerfile.gpu.dev
    command: celery -A src.worker.app worker -l info -Q gpu
    volumes:
      - ../Synapse-Worker:/code
    env_file:
      - ./.env
    runtime: nvidia
    user: "1000:1000"
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
      qdrant:
        condition: service_started

  # -------------------- REDIS --------------------
  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  # -------------------- POSTGRES --------------------
  postgres:
    image: pgvector/pgvector:pg13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 10

  # -------------------- QDRANT VECTOR DATABASE --------------------
  qdrant:
    image: qdrant/qdrant:latest
    container_name: synapse-qdrant
    ports:
      - "6333:6333" # REST API
      - "6334:6334" # gRPC
    volumes:
      - qdrant_data:/qdrant/storage

# -------------------- NAMED VOLUMES --------------------
volumes:
  pgdata_dev: {}
  qdrant_data: {}
