version: "3.9"

services:
  frontend:
    build:
      context: ../Synapse-Frontend
      dockerfile: Dockerfile.dev
    command: npm run dev
    volumes:
      - ../Synapse-Frontend:/app
      - /app/node_modules
    ports:
      - "4173:4173"
    environment:
      - CHOKIDAR_USEPOLLING=true

  backend:
    build:
      context: ../Synapse-Backend
      dockerfile: Dockerfile.dev
    volumes:
      - ../Synapse-Backend/app:/code/app
      - ../Synapse-Backend/src:/code/src
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      - redis
      - postgres

  worker-cpu:
    build:
      context: ../Synapse-Worker
      dockerfile: Dockerfile.dev
    command: celery -A src.worker.app worker -l info -Q cpu_light,cpu_heavy,celery
    volumes:
      - ../Synapse-Worker/src:/code/src
    env_file:
      - ./.env
    depends_on:
      - redis
      - postgres

  worker-gpu:
    build:
      context: ../Synapse-Worker
      dockerfile: Dockerfile.gpu.dev
    command: celery -A src.worker.app worker -l info -Q gpu
    volumes:
      - ../Synapse-Worker/src:/code/src
    env_file:
      - ./.env
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    depends_on:
      - redis
      - postgres

  redis:
    image: redis:latest
    ports:
      - "6379:6379"

  postgres:
    image: postgres:13
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
